* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body,.chat{
    height: 100vh !important;
}
/* html,body{
    overflow: hidden;
} */
.chat{
    margin-bottom: 0;
}
body {
    position: relative;
    line-height: 1.4;
    color: #333333;
    font-family: Helvetica, Arial, sans-serif;
    overflow: hidden;
}

.chat__sidebar {
    background: #333744;
    color: white;
    min-height: 100vh !important;
    word-break:break-all;
}

.room-title {
    display: inline-block;
    background: white;
    color: black;
    border-radius: 3px;
    padding: 5px;
}

.users_list{
    margin-bottom: 15px;
}

.chat__main {
    padding: 0;
    position: relative;
    min-height: 100vh !important;
    word-break: break-all;
}

.chat__messages{
    height: 80vh;
    margin-bottom: 150px;
    overflow-y: scroll;
}

.compose{
    position:absolute;
    bottom: 0;
    width:100%;
}
.message {
    margin-bottom: 16px;
}

.message__name {
    font-weight: 600;
}

.message__meta {
    color: #777;
}

.btn-floating {
    background-color: #7C5CBF;
}
.btn-floating:hover{
    background-color: #7C5CBF !important;    
}
